<%- include('partials/header') -%>
<title>Food Recipes</title>

<div class="container pt-5">
  <div class="row row-cols-1 row-cols-md-3 p-3">
    <% for( let i = 0; i < searchRecipesByQuery.results.length; i++ ) { %>
    <div class="col mb-4">
      <div>
        <a
          href="/recipes/<%= kebabCase(searchRecipesByQuery.results[i].title) %>=<%= searchRecipesByQuery.results[i].id %>"
        >
          <img
            src="https://spoonacular.com/recipeImages/<%=  searchRecipesByQuery.results[i].id %>-312x231.<%= searchRecipesByQuery.results[i].imageType %>"
            class="card-img-top rounded"
            alt="..."
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">
            <a
              class="text-success"
              href="/recipes/<%= kebabCase(searchRecipesByQuery.results[i].title) %>=<%= searchRecipesByQuery.results[i].id %>"
              ><%= searchRecipesByQuery.results[i].title %>
            </a>
          </h5>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer') -%>
